
<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>KaiBa ToDo</title>
</head>
<body>
<div class="page-content page-container container-fluid" id="page-content">
  <div class="mt-4">
    <div class="row  d-flex justify-content-center">
      <div class="col-md-12">
        <div class="card px-6">
          <div class="card-body">
            <h1 class="card-title">Kaiba Todo list</h1>
            <div class="add-items d-flex">
              <input type="text" class="form-control todo-list-input" [(ngModel)]="newJob" size="28"
                     placeholder="What do you need to do today?">
              <button (click)="newElement()" [disabled]="newJob.length === 0"
                      class="add btn btn-primary font-weight-bold todo-list-add-btn">Add
              </button>
            </div>
            <div class="list-wrapper">
              <ul class="d-flex flex-column-reverse todo-list">
                <li *ngFor="let job of list" [ngClass]="job.done? 'completed': ''">
                  <div class="form-check">
                    <label class="form-check-label">
                      <input class="checkbox" type="checkbox" [checked]="job.done" (click)="doneJob(job)">{{job.getString()}}
                      <i class="input-helper"></i>
                    </label>
                  </div>
                  <i class="remove mdi mdi-close-circle-outline" (click)="deleteJob(job.name)"></i>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</body>

</html>
