<div class="page-content page-container" id="page-content">
  <div class="padding">
    <div class="row container d-flex justify-content-center">
      <div class="col-md-12">
        <div class="card px-3">
          <div class="card-body">
            <h4 class="card-title">Kaiba Todo list</h4>
            <div class="add-items d-flex">
              <input type="text" class="form-control todo-list-input" [(ngModel)]="newJob"
                     placeholder="What do you need to do today?">
              <button (click)="newElement()" [disabled]="newJob.length === 0"
                      class="add btn btn-primary font-weight-bold todo-list-add-btn">Add
              </button>
            </div>
            <div class="list-wrapper">
              <ul class="d-flex flex-column-reverse todo-list">
                <li *ngFor="let job of list" [ngClass]="job.done? 'completed': ''">
                  <div class="form-check">
                    <label class="form-check-label">
                      <input class="checkbox" type="checkbox" [checked]="job.done" (click)="doneJob(job)">{{job.getString()}}
                      <i class="input-helper"></i>
                    </label>
                  </div>
                  <i class="remove mdi mdi-close-circle-outline" (click)="deleteJob(job.name)"></i>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
